<h4>IP</h4>
<strong>Keep this format: 00.00.11.20 or 11.11.11.00,00.11.22.00</strong>

<h4>Adding Plugins & Subscriptions</h4>
<strong>Free subscriptions always expires in 5 years.</strong>
<strong>If it is a form that add`s an new subscription or get`s, specify plugin name that already exsist at server database.</strong>